body, html {
    height: 100%;
    margin: 0;
}

.bgimg {
    background-image: url('ecm1000.jpeg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
    color: #1abc9c;
    -webkit-text-stroke-width: 2px;
    
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

h1 {
    color: #1abc9c;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.btn1, .btn2 {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  opacity: 0.6;
}
  
  .btn1:hover,
  .btn2:hover {
    opacity: 3
}

.btn1 span,
.btn2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn1 span:after,
  .btn2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn1:hover span,
  .btn2:hover span {
    padding-right: 25px;
  }
  
  .btn1:hover span:after,
  .btn2:hover span:after {
    opacity: 1;
    right: 0;
  }