<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
<title>ВсеДоки.ру</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="mainpage/mainpageStyle.css">
</head>
<body>
<div class="header">
  <h1>Добро пожаловать на сайт ВсеДоки.ру</h1>
 <div >
     <p id="username" name="username" th:text="${name}"></p>
 </div>
</div>

<div id="navbar">
    <a href="/showprofile">Профиль</a>
    <a href="/showpassport">Паспорт</a>
    <a href="/authorization" class="right">Выход</a>
</div>
<div align="center" class="topleft">
    <p id="printText"></p>
</div>
<h2 align="center">Пришло время заполнить информацию о себе!</h2>

<p></p>
<div align="center">
<button  class="glow-on-hover" onclick="window.location.href = 'addprofile'">Ввести данные для профиля</button>
</div>
<script src="mainpage/mainpageAction.js"></script>
</body>
</html>