<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Моя первая страница</title>
    <link rel="stylesheet" href="registration/registrationStyle.css">
</head>
<body>

<input align="right" class="gradient-button" type="button" onclick="history.back();" value="Назад"/>
<form id="form">
    <h2>Регистрация</h2>
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" required>

    <label for="email">Email:</label>
    <input type="email" id="email" required>

    <label for="password">Пароль:</label>
    <input type="password" id="password" required>

    <button class="glow-on-hover" type="submit" id="registration-button">Зарегистрироваться</button>
</form>
<script src="registration/registrationAction.js"></script>
</body>
</html>