@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
    --focus_color: #57b9ff;
    --error_color: #ff5757;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

form {
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-gap: 16px;
    padding: 70px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.name,
.email,
.password {
    display: block;
    position: relative;
}

input {
    height: 40px;
    width: 100%;
    outline: none;
    padding: 0 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    cursor: pointer;
    justify-self: end;
    background-color: var(--focus_color);
    color: white;
    padding: 10px 24px;
    border-radius: 4px;
}

.disable {
    opacity: 0.5;
    pointer-events: none;
}
